.profileContainer{
    align-items: center;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 15rem;
    background-color: #EB6859;;
}

.profileContainerText{
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.profileContainerText > p{
    color: rgba(254, 253, 242, 0.8);
    font-family: Cambria;
    font-size: 1.5rem;
}

.firstXp{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3.5rem;
}

.profileContainerTextTitle{
    color: rgba(254, 253, 242, 0.8);
    font-family: Cambria;
    font-size: 4rem;
}

.profileContainerButton{
    align-items: center;
    text-align: center;
    
    padding-bottom: 2.5rem;
}
.profileContainerButton > p{
   font-size: 1.2rem;
   color: rgba(254, 253, 242, 0.8);
   font-family: Cambria;
   padding-bottom: 0.5rem;
}
.profileContainerButton > a{
    background-color: #6E41FE;
    height: 4.5rem;
    width: 14rem;
    border-radius: 15px;
    padding: 1rem;

    
    align-items: center;
    font-family: Cambria;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: rgba(254, 253, 242, 0.8);
 }

 .profileContainerButton > a:hover{
    transform: scale(0.9);
    transition: all 0.3s;
    opacity: 0.8;
 }

@media (max-width:720px){
    .profileContainer{
        align-items: center;
        padding-left:6.5rem;
        padding-right:6.5rem;
        background-color: #EB6859;
        width: min-content;
    }
    .firstXp{
        display: inline;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 3.5rem;
    } 
    
}