.contactContainer{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #FDBB63;
    width: 100%;
}

.contactContainer > p{
    font-family: Cambria;
    color: rgba(254, 253, 242, 0.8);
    font-size: 4rem;
    padding-top: 2rem;
    margin: 0;
}

.contactContainer > div{
    cursor: pointer;
    display: flex;   
    justify-content: space-between;
    padding: 4rem;
}
.contactContainer > div:hover{
    transform: scale(0.95);
    transition: all 0.3s;
}

@media (max-width:720px){
    .contactContainer{
        width: max-content;
    }    
    .contactContainer > p{
        padding-right: 14rem ;
        padding-left: 14rem;
    }
}