.experienceContainer{
    background-color: #FC8862 ;
    display: flex;
}
.experienceContainer > div{
    height: 50rem;
    width: 5px;
    border-radius: 4px;
    background-color: #C4C4C4;
    margin-left: 50%;
}