.experienceContainer{
    background-color: #FC8862 ;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.experienceContainer > p{
    font-family: Cambria;
    color: rgba(254, 253, 242, 0.8);
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}