.container{
    height: 100vh;
    width: 100vw;
    background-color: #FC7174;
}
.profileContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15rem 0 15rem;
    background-color: #FC7174;
    height: 93%;
}
.profileArrow{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #FC7174;
    cursor: pointer;
}

.profileContainer > div{
    margin: 0;
}
.profileContainer > div > p{
    font-family: Cambria;
    color: rgba(254, 253, 242, 0.8);
    margin: 1rem;
}

.profileTitle{
    font-size: 6rem;
}

.profileSubTitle{
    font-size: 4rem;
}

.profileContainer > div > img{
    width: 35rem;
    height: 35rem;
    margin: 3rem;
    border-radius: 50%;
}

